.button
{
    -fx-background-color: linear-gradient(to right bottom, #ffffff, #aeaeae);
    -fx-background-radius: 30 30 30 30;
}
.button:hover
{
    -fx-background-color: linear-gradient(to right bottom, #f6a1ff, #efff60);
    -fx-background-radius: 50 50 50 50;
}
.button:pressed
{
    -fx-background-color: linear-gradient(to right bottom, #3ffff9, #4011dc);
    -fx-background-radius: 50 50 50 50;
}
.round-border{
    -fx-background-radius: 50;
}